*{
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body 
{
  background-color: #F6CF57;
  text-align: center;
  font-family: "Rubik", serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 6rem;
}

.card
{

  background: rgb(255,166,0);
  background: linear-gradient(0deg, #76267a 0%, #db8cd5 100%, #76267a 0%);
  border: 20px solid yellow;
  border-radius: 10px;
  box-shadow: 0px 3px 5px 0 #111111;
  padding-inline: 10px;
}

.img-pokemon
{
  width: 400px;
  height: 250px;
  object-fit: cover;
  border: 4px inset #daa520;
  box-shadow: 2px 2px 5px 0px #333333;
}

.titulo-card
{
  font-weight: bold;
  text-align: left;
  font-size: 14pt;

}

.hp
{
  color: red;
  display: flex;
  align-items: center;
  font-weight: bold;
  gap: 5px;
}

.dados
{
  font-size: 8pt;
  padding: 2px;
  background: rgb(255,255,255);
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(218,165,32,1) 100%); 
  font-weight: 700; 
  font-style: italic;
}

.texto-card
{
  text-align: left;
  font-size: 10pt;
  padding-left: 10px;
}

.destaque
{
  font-weight: bold;
  text-align: left;
  font-size: 13pt;
  color:#000000;
}
hr
{
  border: 1px solid black;
}
.efeito
{
  text-align: center;
  font-size: 8pt;
}

.efeito-dados
{
  text-align: center;
  font-size: 24pt;
}
.simbolos
{
  font-size: 8pt;
  text-align: center;
  vertical-align: middle;
  
}
.rodape-card
{
  border: 4px outset #daa520;
  text-align: left;
  font-size: 8pt;
  padding: 2px;
}

tr{
   width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

table{
  width: 400px;
  height: 500px;
}

.td-dados{
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}


div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 25rem;
}

div img {
  height: 18.75rem; 
  width: 12.625rem;
}